<!DOCTYPE html>
<html>
    <head>
        <title>To-Do List</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>   
    <body ng-app="myApp" ng-controller="ctrl" class="bg-dark">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">To-Do List</h1>
                <p class="lead">Simple To-Do list webpage</p>
            </div>
        </div>
        <br>
        <div align="center" id="container1">
            <div class="content1">
                <h2>Your To-Do List</h2>
        <form ng-submit="add()" class="form-group">
            <input type="text" ng-model='todoInput' size="30" value="New Task"><br>
            <br><input type="submit" class="btn btn-success" value ="Add New">
        </form>
        <br/>
            <div ng-repeat="x in todo">
                <input type="checkbox" ng-model="x.complete"><span ng-bind="x.todotext" contenteditable="true"></span>
            </div><br>
                <p button ng-click="remove()" class="btn btn-warning">Remove Items</p>
            <script>
                var app=angular.module('myApp', []);
                app.controller('ctrl', function($scope){
                    $scope.todo = [{todotext:' Python', complete:false}];
                $scope.add=function(){
                    $scope.todo.push({todotext:$scope.todoInput, complete:false})
                    $scope.todoInput="";
                };
                $scope.remove = function(){
                    var oldtodo=$scope.todo;
                    $scope.todo=[];
                    angular.forEach(oldtodo, function(x){
                        if(!x.complete) $scope.todo.push(x);
                    });
                };

                });
            </script>
            </div>
        </div>
    </body>

</html>