
#container1{
    display: table;
    height: 400px;
    margin: 0 auto;
    width: 400px;
}
.content1{
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 2px dotted;
}
