#container1{
    display: table;
    height: auto;
    margin: 0 auto;
    width: auto;
}
.content1{
    background: #f2f2f2;
    padding: 40px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.jumbotron {
    background-size: cover;}